.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #ffffff; /* Warna border putih terang */
    border-radius: 0.375rem;
    background-color: #374151; /* Warna latar abu-abu gelap (gray-700) */
    color: #ffffff; /* Warna teks putih */
}
.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #009dff; /*ubah dari biru terang ke biru gelap*/
    /* Box-shadow diubah agar lebih terlihat di background gelap */
    box-shadow: 0 0 0 3px rgba(0, 98, 255, 0.994);
}

.form-style input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    border: 2px solid #ffffff; /* Border putih */
    border-radius: 0.375rem;
    background-color: #374151; /* Latar belakang abu-abu gelap */
    cursor: pointer;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-style input[type="checkbox"]:checked {
    background-color: #009dff;
    border-color: #002aff;
}

.form-style input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
}

.form-style input[type="checkbox"]:focus {
    outline: none;
    border-color: #009dff;
    box-shadow: 0 0 0 3px rgba(0, 98, 255, 0.994);
}
