{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Products List</button></a></p>

<h1>{{ products.name }}</h1>
<p><b>{{ products.get_category_display }}</b>{% if products.is_featured %} | 
    <b>Featured</b>{% endif %}{% if products.is_products_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ products.created_at|date:"d M Y, H:i" }}</i> 
    | Views: {{ products.products_views }}</p>

{% if products.thumbnail %}
<img src="{{ products.thumbnail }}" alt="Products thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ products.description }}</p>

{% endblock content %}